
$light-orange: rgb(252,174,97);
$white: rgb(253,253,254);
$darker-orange: rgb(254,170,37);
$gray: rgb(97,99,104);
$light-gray: rgb(226,234,237);
$dark-blue: rgb(36,47,81);
$sax-blue: rgb(37,0,249);
$blue: rgb(37,99,255);
$red:rgb(245,87,103);
$green: rgb(64,151,95);
$opac-red: rgb(255,236,239);
$opac-blue: rgb(244,244,255);
$opac-green: rgb(228,255,238);
$opac-turkuoise: rgb(234,249,255);
$opac-orange: rgb(255,246,211);
$opac-pink: rgb(253,238,228);